db.sqlite3
backups/
backups/
*/__pycache__/
*.pyc
*.kate-swp
.idea/
*.pyc
*/settings_test.py
sumapitstop/static.bkp/
.vscode/
media/
venv/
.venv/
env/
bin/
lib/
docs/
pyvenv.cfg
*.DS_Store
sumapitstop/settings_test.py
sumapitstop/settings.py
.terraform
.terraform*
*.tfstate*
versions.tf
venv.rar